@font-face {
  font-family: "iconfont"; /* Project id 4506051 */
  src: url('@/static/font/iconfont.ttf')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyue:before {
  content: "\e61a";
}

.icon-yixuekepu:before {
  content: "\e602";
}

.icon-yishengxinxi:before {
  content: "\e75f";
}

.icon-xiaoxi:before {
  content: "\e604";
}

.icon-shezhi:before {
  content: "\e622";
}

.icon-zuojiantou:before {
  content: "\e6e1";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-sangedian:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e62d";
}

